name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run Tests
      run: |        
        cd .github/
        docker-compose run cms /openedx/requirements/eol_vimeo/.github/test.sh